<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/opcionstyle.css">
<div ng-app="app">
    <div>
        <form class="card">
            <div class="card-header">
                <div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h1 class="text-center display-5">Datos del usuario</h1>
                        </div>
                        <div class="col-md-1">
                            <i ng-click="cerrarDatos()" style="cursor: pointer; justify-content: left" class="text-secondary fa fa-window-close" aria-label="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>Nombre: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="nombre">
                    </div>
                    <div class="col-md-4">
                        <p>Apellido paterno: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="ap_paterno">
                    </div>
                    <div class="col-md-4">
                        <p>Apellido materno: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="ap_materno">
                    </div>
                    <div class="col-md-4">
                        <p>Email: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="email"class="form-control" ng-model="email">
                    </div>
                    <div class="col-md-4">
                        <p>Nueva contraseña: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="contrasena">
                    </div>
                    <div class="col-md-4">
                        <p>Repita contraseña: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="password" class="form-control" ng-model="validarContrasena">
                    </div>
                    <div class="text-center col-md-12 mt-3">
                        <input id="btnModificar" type="submit" class="btn btn-dark align-middle" value="Modificar" ng-click="modificar()">
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
