<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/opcionstyle.css">
<div ng-controller="homeAdminCtrl">
    <div class="card" id="contenedor">
        <div class="card-header text-center">
            <p class="display-5">Crear proyecto</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-lg-5">
                    <p>*Empresa: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <select class="form-control">
                        <option>--Seleccione empresa--</option>
                        <option ng-repeat="empresa in listaEmpresas" ng-selected="empresaSelected == empresa.id_empresa" ng-click="getAdmin(empresa.id_empresa)">
                        {{empresa.nombre_empresa}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Tipo de proyecto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <select class="form-control">
                        <option>--Seleccione tipo de proyecto--</option>
                        <option ng-repeat="tipo in tiposProyectos" ng-click="tipoProyecto(tipo.id_tipo_proyecto)" ng-selected="tipoProyectoSelected == tipo.id_tipo_proyecto">
                            {{tipo.nombre_tipo_proyecto}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Nombre: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <input type="text" class="form-control" ng-model="nombreProyecto" name="Nombre" ng-model-options="{ getterSetter: true }">
                </div>
                <!--div class="col-md-4 col-lg-5">
                    <p>*Dirección: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <input type="text" class="form-control" ng-model="direccionProyecto" name="Direccion" ng-model-options="{ getterSetter: true }">
                </div-->
                <div class="col-md-4 col-lg-5">
                    <p>Administrador del proyecto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <select class="form-control">
                        <option>--Seleccione administrador del proyecto--</option>
                        <option ng-repeat="usuario in listaUsuarios" ng-click="setAdmin(usuario.id_usuario)" ng-selected="adminSelected == usuario.id_usuario">
                        {{usuario.nombre+' '+usuario.ap_paterno}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Edificio: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-10">
                            <select class="form-control">
                                <option>--Seleccione edificio del proyecto--</option>
                                <option ng-repeat="edificio in listaEdificio | orderBy: -id_edificio" ng-click="cargarRecinto(edificio.id_edificio)" ng-selected="edificioSelected == edificio.id_edificio">
                                    {{edificio.nombre_edificio}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button data-toggle="tooltip" data-placement="top" title="Agregar edificio" class="btn btn-secondary" ng-click="ventanaEdificio()">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Recinto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-10">
                            <select id="recintos" class="form-control">
                                <option>--Seleccione recinto--</option>
                                <option ng-repeat="recinto in listaRecintos | orderBy: -id_recinto" ng-click="guardarRecinto(recinto.id_recinto)" ng-selected="recintoSelected == recinto.id_recinto">
                                    {{recinto.nombre_recinto}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button title="Agregar recinto" class="btn btn-secondary" ng-click="ventanaRecintos()">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Subir proyecto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <input type="file" id="file" name="file" class="form-control" file-models="customer.file">
                </div>
                <div class="col-md-12 text-center mt-3">
                    <input type="submit" class="btn btn-secondary" value="Guardar" ng-click="crearProyecto()">
                </div>
            </div>
        </div>
    </div>
</div>
