<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/opcionstyle.css">
<div ng-controller="homeAdminCtrl">
    <div class="card" id="contenedor">
        <div class="card-header">
            <p>Crear proyecto</p>
        </div>
        <div class="card-body">
            <form class="row">
                <div class="col-md-4 col-lg-5">
                    <p>*Empresa: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <select class="form-control">
                        <option ng-repeat="empresa in listaEmpresas" ng-click="admin(empresa.id_empresa)">
                        {{empresa.nombre_empresa}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Tipo de proyecto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <select class="form-control">
                        <option ng-repeat="tipo in tiposProyectos" ng-click="tipoProyecto(tipo.id_tipo_proyecto)">
                            {{tipo.nombre_tipo_proyecto}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Nombre: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <input type="text" class="form-control" ng-model="nombreProyecto">
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Dirección: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <input type="text" class="form-control" ng-model="direccionProyecto">
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>Administrador del proyecto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <select class="form-control">
                        <option ng-repeat="usuario in listaUsuarios" ng-click="setAdmin(usuario.id_usuario)">
                        {{usuario.nombre+' '+usuario.ap_paterno}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>*Edificio: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-10">
                            <select class="form-control">
                                <option ng-repeat="edificio in listaEdificio" ng-click="cargarRecinto(edificio.id_edificio)">
                                    {{edificio.nombre_edificio}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-secondary" ng-click="ventanaEdificio()">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>Recinto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-10">
                            <select class="form-control">
                                <option ng-repeat="recinto in listaRecintos" ng-click="cargarEstancia(recinto.id_recinto)">
                                    {{recinto.nombre_recinto}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-secondary" ng-click="ventanaRecintos()">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>Estancia: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-10" id="estancias">
                            <select class="form-control estancia">
                                <option ng-repeat="estancia in listaEstancias" ng-click="setEstancia(estancia.id_estancia)">
                                    {{$scope.estancia.push(estancia); estancia.nombre_estancia}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-secondary" ng-click="ventanaEstancia()">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <p>Subir proyecto: </p>
                </div>
                <div class="col-md-8 col-lg-7">
                    <input type="file" id="file" name="file" class="form-control" file-models="customer.file">
                </div>
                <div class="col-md-12 text-center mt-3">
                    <input type="submit" class="btn btn-secondary" value="Guardar" ng-click="crearProyecto()">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://www.plexobuilding.com/plexo/js/homeAdminCtrl.js"></script>
