<div ng-controller="homeAdminCtrl">
    <form class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <p>Crear Edificio</p>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-1"><i ng-click="cerrarEdificio()" style="cursor: pointer" class="text-secondary fa fa-window-close" aria-label="true"></i></div>
            </div>
        </div>
        <div class="card-body row">
            <div class="col-md-5">
                <p>Nombre Edificio: </p>
            </div>
            <div class="col-md-7">
                <input ng-model="nombreEdificio" type="text" class="form-control">
            </div>
            <div class="col-md-5">
                <p>Dirección: </p>
            </div>
            <div class="col-md-7">
                <input ng-model="direccionEdificio" type="text" class="form-control">
            </div>
            <div class="col-md-5">
                <p>Numero de pisos</p>
            </div>
            <div class="col-md-7">
                <input ng-model="numPisos" type="number" class="form-control">
            </div>
            <div class="col-md-12 text-center mt-3">
                <input ng-click="crearEdificios()" type="submit" class="btn btn-secondary" value="Guardar">
            </div>
        </div>
    </form>
</div>
