<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/opcionstyle.css">
<div id="ventanaForgot">
    <div>
        <form class="card">
            <div class="card-header row text-center">
                <div class="col-md-1"></div>
                <div class="col-md-10"><p class="display-6">Recuperar contraseña</p></div>
                <div class="col-md-1"><i ng-click="cerrarEmail()" style="cursor: pointer; margin-right: 10px" class="text-secondary fa fa-window-close" aria-label="true"></i></div>
            </div>
            <div class="card-body row">
                <div class="col-md-4 text-right">
                    <p>Ingrese su email:</p>
                </div>
                <div class="col-md-8">
                    <input type="email" class="form-control" ng-model="email">
                </div>
                <div class="text-center col-md-12 mt-2">
                    <button class="btn btn-secondary" ng-click="recuperar($event)" style="width: max-content">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
