<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/homeadminstyle.css">
<body class="bg-white">

<md-toolbar class="bg-light container-fluid text-secondary">
    <div class="row">
        <div class="col-md-1">
            <div class="row">
                <div class="col-6">
                    <md-button aria-label="true" ng-click="openLeftMenu()">
                        <a class="fa fa-bars"></a>
                    </md-button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2 mt-1">
            <img src="https://www.plexobuilding.com/plexo/imagenes/logo_plexo.png" width="100px">
        </div>
        <div class="col-md-5">
            <div class="float-right">
                <div class="dropdown" style="display: inline-block">
                    <button type="button" class="text-secondary btn btn-light dropdown-toggle" data-toggle="dropdown">
                        <img style="width: 50px" src="https://www.plexobuilding.com/plexo/imagenes/login_user.png"><a>      </a><a class="text-center">{{correo}}</a></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a id="editarDatos" class="dropdown-item dr" ng-click="editarDatos()">Editar datos de usuario</a>
                        <a id="cerrarSesion" class="dropdown-item" ng-click="cerrarSesion()">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-toolbar>

<!--Wrap content-->
<div class="container-fluid bg-dark" id="contContenido">
    <div id="contFormulario" ng-include="linkOpcion"></div>
</div>

<md-sidenav md-component-id="left" class="md-sidenav-left bg-secondary">
    <md-toolbar class="bg-light container-fluid" ng-click="openLeftMenu()">
        <div class="row">
            <div class="col-md-6">
                <md-button aria-label="true" class="text-secondary">
                    <a class="fa fa-bars"></a>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-list id="contCrear">
        <div class="bg-secondary" style="z-index: 1; position: relative">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text md-button text-light" ng-click="home()">
                    <div class="row">
                        <div class="col-md-6 mt-2"><p class="text-light">Home</p></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-1"><i class="fa fa-home"></i></div>
                    </div>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text md-button text-light" ng-click="toggleOpciones()">
                    <div class="row justify-content-center">
                        <div class="col-md-6 mt-2"><p class="text-light"><i class="fa fa-plus" aria-hidden="true"></i>   Crear</p></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-1"><i class="fas" ng-class="{'fa-chevron-down':mostrarOpciones,'fa-chevron-up':!mostrarOpciones}"></i></div>
                    </div>
                </div>
            </md-list-item>
        </div>
        <div class="bg-dark" style="z-index: 0; position: relative">
            <md-list-item class="toggle justify-content-center" ng-repeat="item in listaOpciones" ng-class="{'esconder':mostrarOpciones}">
                <div id="listCrear" class="md-list-item-text md-button text-light" ng-click="seleccionarCrear(item.link)">
                    <p class="text-light">{{item.title}}</p>
                </div>
            </md-list-item>
        </div>
    </md-list>
</md-sidenav>

<div ng-init="onload()"></div>
<script src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

</body>
