<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/homestyle.css">
<body>

    <md-toolbar class="bg-light container-fluid text-secondary">
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-6">
                        <md-button aria-label="true" ng-click="openLeftMenu()">
                            <a class="fa fa-bars"></a>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 mt-1">
                <img src="https://www.plexobuilding.com/plexo/imagenes/logo_plexo.png" width="100px">
            </div>
            <div class="col-md-5">
                <div class="float-right">
                    <button title="Crear estancia" class="btn btn-light text-secondary" ng-click="crearEstancia()">
                        <a class="fa fa-square"></a>
                    </button>
                    <button title="Definir estancia" class="btn btn-light text-secondary" ng-click="definirEstancia()">
                        <a class="fa fa-cube"></a>
                    </button>
                    <button title="Elemento" class="btn btn-light text-secondary" ng-click="verElemento()" style="display: inline-block">
                        <a class="fa fa-plus"></a>
                    </button>
                    <button title="Propiedad" class="btn btn-light text-secondary" ng-click="verPropiedad()" style="display: inline-block">
                        <a class="fa fa-plus"></a>
                    </button>
                    <button title="Mantención" class="btn btn-light text-secondary" ng-click="verMantencion()" style="display: inline-block"><a class="fa fa-cog"></a></button>
                    <div class="dropdown" style="display: inline-block">
                        <button type="button" class="text-secondary btn btn-light dropdown-toggle" data-toggle="dropdown">
                            <img style="width: 50px" src="https://www.plexobuilding.com/plexo/imagenes/login_user.png"><a>      </a><a class="text-center">{{nombre+' '+ap_paterno}}</a></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a id="editarDatos" class="dropdown-item dr" ng-click="editarDatos()">Editar datos de usuario</a>
                            <a id="cerrarSesion" class="dropdown-item" ng-click="cerrarSesion()">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>

        <!--Wrap content-->
        <div id="contContenido" ng-class="{'maximizar': showSide}">
            <iframe id="modelo" src="{{linkProyecto}}"></iframe>
        </div>
    </div>

    <!--Sidebar-->

    <md-sidenav md-component-id="left" class="md-sidenav-left bg-secondary">
        <md-toolbar class="bg-light container-fluid" ng-click="openLeftMenu()">
            <div class="row">
                <div class="col-md-6">
                    <md-button aria-label="true" class="text-secondary">
                        <a class="fa fa-bars"></a>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <md-list id="contCrear">
            <div class="bg-secondary" style="z-index: 1; position: relative">
                <md-list-item class="md-2-line" ng-show="mostrarAdministrar">
                    <div class="md-list-item-text md-button text-light" ng-click="administrar()">
                        <div class="row">
                            <div class="col-md-6 mt-2"><p class="text-light">Administrar</p></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-1"><i class="fas fa-users"></i></div>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text md-button text-light" ng-click="toggleOpciones()">
                        <div class="row justify-content-center">
                            <div class="col-md-6 mt-2"><p class="text-light"><i class="fa fa-plus" aria-hidden="true"></i>   Proyectos</p></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-1"><i class="fas" ng-class="{'fa-chevron-down':mostrarOpciones,'fa-chevron-up':!mostrarOpciones}"></i></div>
                        </div>
                    </div>
                </md-list-item>
            </div>
            <div class="bg-dark" style="z-index: 0; position: relative">
                <md-list-item class="toggle justify-content-center" ng-repeat="proyecto in listaProyecto" ng-class="{'esconder':mostrarOpciones}">
                    <div id="listCrear" class="md-list-item-text md-button text-light" ng-click="toggleProyecto(proyecto.link_proyecto)">
                        <p class="text-light">{{proyecto.nombre_proyecto}}</p>
                    </div>
                </md-list-item>
            </div>
        </md-list>
    </md-sidenav>

    <script src="https://www.plexobuilding.com/plexo/js/jquery-3.4.1.min.js"></script>
    <script src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <!--Xeogl-->

    <script src="https://www.plexobuilding.com/plexo/xeogl-master/build/xeogl.js"></script>
    <script src="https://www.plexobuilding.com/plexo/xeogl-master/examples/js/models/glTFModel.js"></script>
    <script src="https://www.plexobuilding.com/plexo/xeogl-master/examples/js/annotations/pin.js"></script>
    <script src="https://www.plexobuilding.com/plexo/xeogl-master/examples/js/annotations/annotation.js"></script>

    <!--Pooperjs-->

    <script defer src="https://www.plexobuilding.com/plexo/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script defer src="https://www.plexobuilding.com/plexo/js/bootstrap.js"></script>
    <script defer src="https://www.plexobuilding.com/plexo/js/bootstrap.min.js"></script>

    <!--Home-->
    <script src="https://www.plexobuilding.com/plexo/js/homeCtrl.js"></script>

    <script>
        if(localStorage.getItem('carga')==null){
            window.location.reload();
        }
        localStorage.setItem('carga','1');
    </script>

    <div ng-init="onload()"></div>
</body>


