<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/homeadminstyle.css">
<body class="bg-white">

<div class="container-fluid" id="contTopBar">
    <!--top bar-->
    <nav class="navbar navbar-light bg-light text-center border border-light row" id="topBar">
        <div class="col-md-1">
            <div class="row">
                <div class="col-6">
                    <button ng-click="activarSideNav()" class="text-secondary btn btn-light"><i class="fa fa-bars" aria-hidden="true" data-tap-disabled="false"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <img src="https://www.plexobuilding.com/plexo/imagenes/logo_plexo.png" width="100px">
        </div>
        <div class="col-md-5">
            <div class="float-right">
                <div class="dropdown" style="display: inline-block">
                    <button type="button" class="text-secondary btn btn-light dropdown-toggle" data-toggle="dropdown">
                        <a class="fa fa-user align-middle" style="font-size: 200%"></a><a>      </a><a class="text-center">{{email}}</a></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a id="editarDatos" class="dropdown-item dr" ng-click="editarDatos()">Editar datos de usuario</a>
                        <a id="cerrarSesion" class="dropdown-item" ng-click="cerrarSesion()">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--Wrap content-->
    <div id="contContenido" ng-class="{'maximizar': showSide}" class="container-fluid">
        <div id="contFormulario" ng-include="linkOpcion"></div>
    </div>
</div>

<!--sidebar-->

<nav id="sidebar" class="bg-secondary text-white border-secondary" ng-class="{'hidden': showSide}">
    <div class="bg-secondary dropdown container-fluid" style="position: relative; z-index: 0">
            <ul class="text-left">
                <li class="btn btn-secondary mt-3" style="width: 85%" ng-click="home()">Home</li>
                <li class="btn btn-secondary dropdown container-fluid" style="width: 85%" ng-click="changeCrear()">Crear</li>
                <ul ng-show="showCrear" class="text-right">
                    <li class="btn btn-secondary" style="width: 80%" ng-click="empresa()">Empresa</li>
                    <li class="btn btn-secondary" style="width: 80%;" ng-click="usuario()">Usuario</li>
                    <li class="btn btn-secondary" style="width: 80%" ng-click="proyecto()">Proyecto</li>
                </ul>
            </ul>
    </div>
</nav>

<script src="https://www.plexobuilding.com/plexo/js/jquery-3.4.1.min.js"></script>
<script src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<!--Xeogl-->

<script src="https://www.plexobuilding.com/plexo/xeogl-master/build/xeogl.js"></script>
<script src="https://www.plexobuilding.com/plexo/xeogl-master/examples/js/models/glTFModel.js"></script>
<script src="https://www.plexobuilding.com/plexo/xeogl-master/examples/js/annotations/pin.js"></script>
<script src="https://www.plexobuilding.com/plexo/xeogl-master/examples/js/annotations/annotation.js"></script>

<!--Pooperjs-->

<script defer src="https://www.plexobuilding.com/plexo/js/ui-bootstrap-tpls-3.0.6.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script defer src="https://www.plexobuilding.com/plexo/js/bootstrap.js"></script>
<script defer src="https://www.plexobuilding.com/plexo/js/bootstrap.min.js"></script>
</body>
