<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/bootstrap.css">
<link rel="shortcut icon" href="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.plexobuilding.com/plexo/css/loginstyle.css">

<div class="vw-100 h-100" id="contLogin">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://www.plexobuilding.com/plexo/imagenes/login_user.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-mail-forward"></i></span>
                        </div>
                        <input type="email" name="" class="form-control input_user" value="" placeholder="Email" ng-model="mail">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña" ng-model="pass">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Recordar usuario</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <button type="button" name="button" class="btn login_btn" ng-click="login()">Iniciar Sesión</button>
            </div>
            <div class="mt-4">
                <!--div class="d-flex justify-content-center links">
                    ¿No posees una cuenta? <a href="#" class="ml-2">Registrate</a>
                </div-->
                <div class="d-flex justify-content-center links">
                    <a style="color: #007bff; cursor: pointer" href="#" ng-click="">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://www.plexobuilding.com/plexo/js/sessionService.js"></script>
